* {
    scroll-behavior: smooth;
}

.topnav {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1000;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #cdc1ff;
    color: #000;
}
  
.topnav a.active {
    background-color: #A594F9;
    color: #fff;
} 

#modal1:target,
#modal2:target,
#modal3:target,
#modal4:target,
#modal5:target,
#modal6:target,
#modal7:target,
#modal8:target,
#modal9:target,
#modal10:target {
    display: flex; 
}